﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29635 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:91px;
  width:473px;
  height:390px;
}
#u29635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u29636 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:114px;
  width:65px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u29636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u29637 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:251px;
  width:27px;
  height:28px;
}
#u29637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u29638 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:175px;
  width:27px;
  height:28px;
}
#u29638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u29639 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:215px;
  width:413px;
  height:1px;
}
#u29639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u29640 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:289px;
  width:413px;
  height:1px;
}
#u29640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29641 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:175px;
  width:367px;
  height:30px;
}
#u29641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29642 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:249px;
  width:367px;
  height:30px;
}
#u29642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29643 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:315px;
  width:91px;
  height:18px;
}
#u29643_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u29643_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:38px;
  background:inherit;
  background-color:rgba(155, 52, 35, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29644 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:369px;
  width:413px;
  height:38px;
}
#u29644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:409px;
  word-wrap:break-word;
}
#u29645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29645 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:315px;
  width:57px;
  height:15px;
}
#u29645_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29645.mouseOver {
}
#u29645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9B3423;
}
#u29646 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:25px;
  width:225px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#9B3423;
}
#u29646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u29647_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:1293px;
  height:22px;
}
#u29647p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:1278px;
  height:4px;
}
#u29647p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:4px;
}
#u29647p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-11px;
  width:24px;
  height:24px;
}
#u29647p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29647p002 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u29647p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u29647 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:549px;
  width:1273px;
  height:2px;
}
#u29647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#9B3423;
}
#u29648 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:579px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#9B3423;
}
#u29648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29649 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:615px;
  width:850px;
  height:374px;
}
#u29650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
  color:#FFFFFF;
}
#u29650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29651 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:0px;
  width:232px;
  height:34px;
  color:#FFFFFF;
}
#u29651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29652 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:360px;
  height:34px;
  color:#FFFFFF;
}
#u29652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  word-wrap:break-word;
}
#u29653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:258px;
  height:34px;
}
#u29653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29654 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:34px;
  width:232px;
  height:34px;
}
#u29654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29655 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:34px;
  width:360px;
  height:34px;
  text-align:left;
  line-height:26px;
}
#u29655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:258px;
  height:34px;
}
#u29656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29657 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:68px;
  width:232px;
  height:34px;
}
#u29657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29658 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:68px;
  width:360px;
  height:34px;
  text-align:left;
  line-height:26px;
}
#u29658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29660 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:102px;
  width:232px;
  height:34px;
}
#u29660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29661 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:102px;
  width:360px;
  height:34px;
  text-align:left;
  line-height:26px;
}
#u29661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29663 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:136px;
  width:232px;
  height:34px;
}
#u29663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29664 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:136px;
  width:360px;
  height:34px;
  text-align:left;
  line-height:26px;
}
#u29664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29666 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:170px;
  width:232px;
  height:34px;
}
#u29666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29667 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:170px;
  width:360px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:26px;
}
#u29667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29669 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:204px;
  width:232px;
  height:34px;
}
#u29669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29670 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:204px;
  width:360px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:26px;
}
#u29670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:238px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29672 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:238px;
  width:232px;
  height:34px;
}
#u29672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29673 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:238px;
  width:360px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:26px;
}
#u29673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29675 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:272px;
  width:232px;
  height:34px;
}
#u29675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29676 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:272px;
  width:360px;
  height:34px;
  text-align:left;
  line-height:26px;
}
#u29676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29678 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:306px;
  width:232px;
  height:34px;
}
#u29678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29679 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:306px;
  width:360px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:26px;
}
#u29679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:34px;
}
#u29680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:258px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:254px;
  word-wrap:break-word;
}
#u29681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:34px;
}
#u29681 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:340px;
  width:232px;
  height:34px;
}
#u29681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:228px;
  word-wrap:break-word;
}
#u29682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u29682 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:340px;
  width:360px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:26px;
}
#u29682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u29683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u29683 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1014px;
  width:1017px;
  height:65px;
  line-height:20px;
}
#u29683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  word-wrap:break-word;
}
