﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1296.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1036px;
  width:226px;
  height:66px;
}
#u8914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:930px;
  width:226px;
  height:66px;
}
#u8915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9B3423;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#9B3423;
}
#u8916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(229, 71, 45, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:119px;
  width:80px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:188px;
  width:709px;
  height:377px;
}
#u8919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:0px;
  width:177px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8921 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:0px;
  width:267px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:265px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:34px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:34px;
  width:267px;
  height:34px;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:265px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:68px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:68px;
  width:267px;
  height:34px;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:265px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8928_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:102px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8930 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:102px;
  width:267px;
  height:34px;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:265px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8932 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:136px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8933 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:136px;
  width:267px;
  height:34px;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:265px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8935 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:170px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8936 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:170px;
  width:267px;
  height:34px;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:265px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8938 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:204px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8939 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:204px;
  width:267px;
  height:34px;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:34px;
}
#u8940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:238px;
  width:265px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
}
#u8940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  word-wrap:break-word;
}
#u8941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:34px;
}
#u8941 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:238px;
  width:177px;
  height:34px;
  font-size:12px;
  color:#E5472D;
}
#u8941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:173px;
  word-wrap:break-word;
}
#u8942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:34px;
}
#u8942 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:238px;
  width:267px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u8943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
}
#u8943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:265px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
}
#u8943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u8944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:35px;
}
#u8944 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:272px;
  width:177px;
  height:35px;
  font-size:12px;
  color:#E5472D;
}
#u8944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u8945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:35px;
}
#u8945 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:272px;
  width:267px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:263px;
  word-wrap:break-word;
}
#u8946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
}
#u8946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:307px;
  width:265px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
}
#u8946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u8947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:35px;
}
#u8947 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:307px;
  width:177px;
  height:35px;
  font-size:12px;
  color:#E5472D;
}
#u8947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u8948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:35px;
}
#u8948 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:307px;
  width:267px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:263px;
  word-wrap:break-word;
}
#u8949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:35px;
}
#u8949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:265px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
}
#u8949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u8950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:35px;
}
#u8950 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:342px;
  width:177px;
  height:35px;
  font-size:12px;
  color:#E5472D;
}
#u8950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:173px;
  word-wrap:break-word;
}
#u8951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:35px;
}
#u8951 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:342px;
  width:267px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#E5472D;
  text-align:left;
}
#u8951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:263px;
  word-wrap:break-word;
}
#u8952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8953 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:102px;
  width:108px;
  height:40px;
  color:#FFFFFF;
}
#u8953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u8954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:105px;
  width:30px;
  height:33px;
}
#u8954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:57px;
  width:623px;
  height:28px;
  line-height:28px;
}
#u8955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  word-wrap:break-word;
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8957 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:192px;
  width:430px;
  height:340px;
}
#u8957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:212px;
  width:65px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8959 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:332px;
  width:25px;
  height:25px;
}
#u8959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8960 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:266px;
  width:25px;
  height:25px;
}
#u8960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u8961 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:300px;
  width:375px;
  height:1px;
}
#u8961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u8962 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:365px;
  width:375px;
  height:1px;
}
#u8962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8963 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:266px;
  width:333px;
  height:26px;
}
#u8963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8964 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:330px;
  width:333px;
  height:26px;
}
#u8964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:387px;
  width:83px;
  height:18px;
}
#u8965_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u8965_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:33px;
  background:inherit;
  background-color:rgba(155, 52, 35, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8966 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:434px;
  width:375px;
  height:33px;
}
#u8966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u8967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8967 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:489px;
  width:127px;
  height:13px;
}
#u8967_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8967.mouseOver {
}
#u8967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8968 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:385px;
  width:99px;
  height:13px;
}
#u8968_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8968.mouseOver {
}
#u8968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8969 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:489px;
  width:71px;
  height:13px;
}
#u8969_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8969.mouseOver {
}
#u8969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8970 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:213px;
  width:25px;
  height:25px;
}
#u8970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u8971 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:532px;
  width:583px;
  height:56px;
  line-height:28px;
}
#u8971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  word-wrap:break-word;
}
#u8972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8972 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:588px;
  width:442px;
  height:100px;
  line-height:20px;
}
#u8972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u8973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8974 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1049px;
  width:40px;
  height:40px;
  text-align:right;
}
#u8974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8976 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1049px;
  width:40px;
  height:40px;
  text-align:right;
}
#u8976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8977 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:1058px;
  width:37px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8978 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1049px;
  width:30px;
  height:22px;
  color:#FFFFFF;
}
#u8978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u8979 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:451px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u8979_seg0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:72px;
  height:8px;
}
#u8979_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:8px;
  height:393px;
}
#u8979_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:381px;
  width:46px;
  height:8px;
}
#u8979_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8979_seg4 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:375px;
  width:20px;
  height:20px;
}
#u8979_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:170px;
  width:100px;
  word-wrap:break-word;
}
#u8980 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:451px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u8980_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u8980_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-4px;
  width:8px;
  height:180px;
}
#u8980_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:168px;
  width:221px;
  height:8px;
}
#u8980_seg3 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:168px;
  width:8px;
  height:124px;
}
#u8980_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8980_seg5 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:277px;
  width:20px;
  height:20px;
}
#u8980_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:162px;
  width:100px;
  word-wrap:break-word;
}
#u8981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u8983 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:942px;
  width:108px;
  height:40px;
  color:#FFFFFF;
}
#u8983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u8984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:33px;
}
#u8984 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:945px;
  width:30px;
  height:33px;
}
#u8984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u8985 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:944px;
  width:1px;
  height:39px;
}
#u8985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:39px;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:942px;
  width:70px;
  height:39px;
  font-size:18px;
  color:#FFFFFF;
}
#u8987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u8988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1124px;
  width:1231px;
  height:146px;
  line-height:20px;
}
#u8988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1231px;
  word-wrap:break-word;
}
#u8992_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8992 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1312px;
  width:30px;
  height:30px;
}
#u8992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u8993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8993 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1359px;
  width:809px;
  height:40px;
  line-height:20px;
}
#u8993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  word-wrap:break-word;
}
#u8995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B3423;
}
#u8995 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1317px;
  width:113px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B3423;
}
#u8995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8996 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:481px;
  width:141px;
  height:36px;
  color:#FF0000;
}
#u8996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8997 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:482px;
  width:80px;
  height:36px;
  color:#FF0000;
}
#u8997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8998 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:377px;
  width:108px;
  height:36px;
  color:#FF0000;
}
#u8998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u8999 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:364px;
  width:30px;
  height:30px;
}
#u8999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u9000_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9000 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:467px;
  width:30px;
  height:30px;
}
#u9000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u9001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 236, 236, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(230, 230, 230, 0.498039215686275);
  -webkit-box-shadow:0px 0px 4px rgba(230, 230, 230, 0.498039215686275);
  box-shadow:0px 0px 4px rgba(230, 230, 230, 0.498039215686275);
}
#u9002 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:762px;
  width:324px;
  height:148px;
}
#u9002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u9003 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:784px;
  width:50px;
  height:51px;
}
#u9003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#717171;
}
#u9004 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:845px;
  width:98px;
  height:26px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#717171;
}
#u9004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u9005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E5472D;
  line-height:16px;
}
#u9005 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:721px;
  width:300px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E5472D;
  line-height:16px;
}
#u9005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:23px;
  background:inherit;
  background-color:rgba(229, 71, 45, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9006 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:179px;
  width:149px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u9007 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:122px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#199ED8;
}
#u9007_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u9007_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-4px;
  width:8px;
  height:61px;
}
#u9007_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9007_seg3 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:42px;
  width:20px;
  height:20px;
}
#u9007_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9009 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:755px;
  width:430px;
  height:340px;
}
#u9009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9010 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:775px;
  width:65px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u9010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9011 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:895px;
  width:25px;
  height:25px;
}
#u9011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9012 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:829px;
  width:25px;
  height:25px;
}
#u9012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u9013 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:863px;
  width:375px;
  height:1px;
}
#u9013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u9014 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:928px;
  width:375px;
  height:1px;
}
#u9014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9015 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:829px;
  width:333px;
  height:26px;
}
#u9015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9016 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:893px;
  width:333px;
  height:26px;
}
#u9016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9017 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:950px;
  width:83px;
  height:18px;
}
#u9017_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u9017_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:33px;
  background:inherit;
  background-color:rgba(155, 52, 35, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9018 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:997px;
  width:375px;
  height:33px;
}
#u9018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  word-wrap:break-word;
}
#u9019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1052px;
  width:127px;
  height:13px;
}
#u9019_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019.mouseOver {
}
#u9019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9020 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:948px;
  width:99px;
  height:13px;
}
#u9020_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9020.mouseOver {
}
#u9020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9021 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1052px;
  width:71px;
  height:13px;
}
#u9021_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9021.mouseOver {
}
#u9021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9022 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:776px;
  width:25px;
  height:25px;
}
#u9022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
  line-height:16px;
}
#u9023 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:930px;
  width:300px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  line-height:16px;
}
#u9023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:23px;
  background:inherit;
  background-color:rgba(229, 71, 45, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9024 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:743px;
  width:144px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u9024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u9025_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9025 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:459px;
  width:30px;
  height:30px;
}
#u9025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u9026 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:996px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#199ED8;
}
#u9026_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u9026_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u9026_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u9026_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B3423;
}
#u9027 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1589px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B3423;
}
#u9027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9028_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9028 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1455px;
  width:30px;
  height:30px;
}
#u9028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u9029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B3423;
}
#u9029 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1460px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#9B3423;
}
#u9029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9030_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u9030 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1584px;
  width:30px;
  height:30px;
}
#u9030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u9031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u9031 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1507px;
  width:745px;
  height:40px;
  line-height:20px;
}
#u9031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  word-wrap:break-word;
}
#u9033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u9033 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1632px;
  width:819px;
  height:40px;
  line-height:20px;
}
#u9033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  word-wrap:break-word;
}
#u9035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  line-height:20px;
}
#u9035 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1742px;
  width:849px;
  height:169px;
  line-height:20px;
}
#u9035_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:829px;
  word-wrap:break-word;
}
#u9036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
  line-height:16px;
}
#u9036 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:865px;
  width:300px;
  height:16px;
  font-size:14px;
  color:#FF0000;
  line-height:16px;
}
#u9036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
